
/Goeleven.Windows8.Client/bin/Debug/AppX/AppxManifest.xml
/Goeleven.Windows8.Client/bin/Debug/AppX/css/dashboard.css
/Goeleven.Windows8.Client/bin/Debug/AppX/css/default.css
/Goeleven.Windows8.Client/bin/Debug/AppX/css/groupDetailPage.css
/Goeleven.Windows8.Client/bin/Debug/AppX/css/itemDetailPage.css
/Goeleven.Windows8.Client/bin/Debug/AppX/default.html
/Goeleven.Windows8.Client/bin/Debug/AppX/html/dashboard.html
/Goeleven.Windows8.Client/bin/Debug/AppX/html/groupDetailPage.html
/Goeleven.Windows8.Client/bin/Debug/AppX/html/itemDetailPage.html
/Goeleven.Windows8.Client/bin/Debug/AppX/images/brew.jpg
/Goeleven.Windows8.Client/bin/Debug/AppX/images/diy.jpg
/Goeleven.Windows8.Client/bin/Debug/AppX/images/domotics.jpg
/Goeleven.Windows8.Client/bin/Debug/AppX/images/goeleven.jpg
/Goeleven.Windows8.Client/bin/Debug/AppX/images/logo.png
/Goeleven.Windows8.Client/bin/Debug/AppX/images/mercury.jpg
/Goeleven.Windows8.Client/bin/Debug/AppX/images/nore.jpg
/Goeleven.Windows8.Client/bin/Debug/AppX/images/plants.jpg
/Goeleven.Windows8.Client/bin/Debug/AppX/images/rune.jpg
/Goeleven.Windows8.Client/bin/Debug/AppX/images/smalllogo.png
/Goeleven.Windows8.Client/bin/Debug/AppX/images/splashscreen.png
/Goeleven.Windows8.Client/bin/Debug/AppX/images/storelogo.png
/Goeleven.Windows8.Client/bin/Debug/AppX/images/tools.jpg
/Goeleven.Windows8.Client/bin/Debug/AppX/images/wendy.jpg
/Goeleven.Windows8.Client/bin/Debug/AppX/js/dashboard.js
/Goeleven.Windows8.Client/bin/Debug/AppX/js/data.js
/Goeleven.Windows8.Client/bin/Debug/AppX/js/default.js
/Goeleven.Windows8.Client/bin/Debug/AppX/js/groupDetailPage.js
/Goeleven.Windows8.Client/bin/Debug/AppX/js/itemDetailPage.js
/Goeleven.Windows8.Client/bin/Debug/AppX/js/navigator.js
/Goeleven.Windows8.Client/bin/Debug/AppX/microsoft.system.package.metadata/S-1-5-21-833215498-2643895950-1918909931-1001.pckgdep
/Goeleven.Windows8.Client/bin/Debug/AppX/resources.pri
/Goeleven.Windows8.Client/bin/Debug/AppX/vs.appxrecipe
/Goeleven.Windows8.Client/bin/Debug/AppxManifest.xml
/Goeleven.Windows8.Client/bin/Debug/Goeleven.Windows8.Client.build.appxrecipe
/Goeleven.Windows8.Client/bin/Debug/resources.pri
/Goeleven.Windows8.Client/bld/Debug/Goeleven.Windows8.Client.jsproj.FileListAbsolute.txt
/Goeleven.Windows8.Client/bld/Debug/LanguageQualifiers.txt
/Goeleven.Windows8.Client/bld/Debug/LanguageQualifiers.txt.intermediate
/Goeleven.Windows8.Client/bld/Debug/ProjectArchitectures.txt
/Goeleven.Windows8.Client/bld/Debug/layout.resfiles
/Goeleven.Windows8.Client/bld/Debug/layout.resfiles.intermediate
/Goeleven.Windows8.Client/bld/Debug/pri.resfiles
/Goeleven.Windows8.Client/bld/Debug/pri.resfiles.intermediate
/Goeleven.Windows8.Client/bld/Debug/priconfig.xml
/Goeleven.Windows8.Client/bld/Debug/priconfig.xml.intermediate
/Goeleven.Windows8.Client/bld/Debug/resources.resfiles
/Goeleven.Windows8.Client/bld/Debug/resources.resfiles.intermediate
/Goeleven.Windows8.Client/bin/Debug/AppX/images/badge.png
/Goeleven.Windows8.Client/bin/Debug/AppX/images/logowide.jpg
/Goeleven.Windows8.Client/bin/Debug/AppX/js/liveTileUpdater.js
/Goeleven.Windows8.Client/bin/Debug/AppX/css/detail.css
/Goeleven.Windows8.Client/bin/Debug/AppX/css/overview.css
/Goeleven.Windows8.Client/bin/Debug/AppX/html/detail.html
/Goeleven.Windows8.Client/bin/Debug/AppX/html/overview.html
/Goeleven.Windows8.Client/bin/Debug/AppX/js/detail.js
/Goeleven.Windows8.Client/bin/Debug/AppX/js/goeleven.mobiledragdrop.js
/Goeleven.Windows8.Client/bin/Debug/AppX/js/jquery-1.6.4.min.js
/Goeleven.Windows8.Client/bin/Debug/AppX/js/jquery-ui-1.8.16.min.js
/Goeleven.Windows8.Client/bin/Debug/AppX/js/overview.js