
/Goeleven.Windows8.Client/bin/Debug/AppX/AppxManifest.xml
/Goeleven.Windows8.Client/bin/Debug/AppX/css/dashboard.css
/Goeleven.Windows8.Client/bin/Debug/AppX/css/default.css
/Goeleven.Windows8.Client/bin/Debug/AppX/css/groupDetailPage.css
/Goeleven.Windows8.Client/bin/Debug/AppX/css/itemDetailPage.css
/Goeleven.Windows8.Client/bin/Debug/AppX/default.html
/Goeleven.Windows8.Client/bin/Debug/AppX/html/dashboard.html
/Goeleven.Windows8.Client/bin/Debug/AppX/html/groupDetailPage.html
/Goeleven.Windows8.Client/bin/Debug/AppX/html/itemDetailPage.html
/Goeleven.Windows8.Client/bin/Debug/AppX/images/brew.jpg
/Goeleven.Windows8.Client/bin/Debug/AppX/images/diy.jpg
/Goeleven.Windows8.Client/bin/Debug/AppX/images/domotics.jpg
/Goeleven.Windows8.Client/bin/Debug/AppX/images/goeleven.jpg
/Goeleven.Windows8.Client/bin/Debug/AppX/images/logo.png
/Goeleven.Windows8.Client/bin/Debug/AppX/images/mercury.jpg
/Goeleven.Windows8.Client/bin/Debug/AppX/images/nore.jpg
/Goeleven.Windows8.Client/bin/Debug/AppX/images/plants.jpg
/Goeleven.Windows8.Client/bin/Debug/AppX/images/rune.jpg
/Goeleven.Windows8.Client/bin/Debug/AppX/images/smalllogo.png
/Goeleven.Windows8.Client/bin/Debug/AppX/images/splashscreen.png
/Goeleven.Windows8.Client/bin/Debug/AppX/images/storelogo.png
/Goeleven.Windows8.Client/bin/Debug/AppX/images/tools.jpg
/Goeleven.Windows8.Client/bin/Debug/AppX/images/wendy.jpg
/Goeleven.Windows8.Client/bin/Debug/AppX/js/dashboard.js
/Goeleven.Windows8.Client/bin/Debug/AppX/js/data.js
/Goeleven.Windows8.Client/bin/Debug/AppX/js/default.js
/Goeleven.Windows8.Client/bin/Debug/AppX/js/groupDetailPage.js
/Goeleven.Windows8.Client/bin/Debug/AppX/js/itemDetailPage.js
/Goeleven.Windows8.Client/bin/Debug/AppX/js/navigator.js
/Goeleven.Windows8.Client/bin/Debug/AppX/microsoft.system.package.metadata/S-1-5-21-833215498-2643895950-1918909931-1001.pckgdep
/Goeleven.Windows8.Client/bin/Debug/AppX/resources.pri
/Goeleven.Windows8.Client/bin/Debug/AppX/vs.appxrecipe
/Goeleven.Windows8.Client/bin/Debug/AppxManifest.xml
/Goeleven.Windows8.Client/bin/Debug/Goeleven.Windows8.Client.build.appxrecipe
/Goeleven.Windows8.Client/bin/Debug/resources.pri
/Goeleven.Windows8.Client/bld/Debug/Goeleven.Windows8.Client.jsproj.FileListAbsolute.txt
/Goeleven.Windows8.Client/bld/Debug/LanguageQualifiers.txt
/Goeleven.Windows8.Client/bld/Debug/LanguageQualifiers.txt.intermediate
/Goeleven.Windows8.Client/bld/Debug/ProjectArchitectures.txt
/Goeleven.Windows8.Client/bld/Debug/layout.resfiles
/Goeleven.Windows8.Client/bld/Debug/layout.resfiles.intermediate
/Goeleven.Windows8.Client/bld/Debug/pri.resfiles
/Goeleven.Windows8.Client/bld/Debug/pri.resfiles.intermediate
/Goeleven.Windows8.Client/bld/Debug/priconfig.xml
/Goeleven.Windows8.Client/bld/Debug/priconfig.xml.intermediate
/Goeleven.Windows8.Client/bld/Debug/resources.resfiles
/Goeleven.Windows8.Client/bld/Debug/resources.resfiles.intermediate
/Goeleven.Windows8.Client/bin/Debug/AppX/images/badge.png
/Goeleven.Windows8.Client/bin/Debug/AppX/images/logowide.jpg
/Goeleven.Windows8.Client/bin/Debug/AppX/js/liveTileUpdater.js
/Goeleven.Windows8.Client/bin/Debug/AppX/css/detail.css
/Goeleven.Windows8.Client/bin/Debug/AppX/css/overview.css
/Goeleven.Windows8.Client/bin/Debug/AppX/html/detail.html
/Goeleven.Windows8.Client/bin/Debug/AppX/html/overview.html
/Goeleven.Windows8.Client/bin/Debug/AppX/js/detail.js
/Goeleven.Windows8.Client/bin/Debug/AppX/js/goeleven.mobiledragdrop.js
/Goeleven.Windows8.Client/bin/Debug/AppX/js/jquery-1.6.4.min.js
/Goeleven.Windows8.Client/bin/Debug/AppX/js/jquery-ui-1.8.16.min.js
/Goeleven.Windows8.Client/bin/Debug/AppX/js/overview.js
/Goeleven.Windows8/bin/Debug/App.xaml
/Goeleven.Windows8/bin/Debug/AppX/App.xaml
/Goeleven.Windows8/bin/Debug/AppX/AppxManifest.xml
/Goeleven.Windows8/bin/Debug/AppX/Assets/DarkGray.png
/Goeleven.Windows8/bin/Debug/AppX/Assets/LightGray.png
/Goeleven.Windows8/bin/Debug/AppX/Assets/Logo.png
/Goeleven.Windows8/bin/Debug/AppX/Assets/MediumGray.png
/Goeleven.Windows8/bin/Debug/AppX/Assets/SmallLogo.png
/Goeleven.Windows8/bin/Debug/AppX/Assets/SplashScreen.png
/Goeleven.Windows8/bin/Debug/AppX/Assets/StoreLogo.png
/Goeleven.Windows8/bin/Debug/AppX/Common/StandardStyles.xaml
/Goeleven.Windows8/bin/Debug/AppX/Dashboard.xaml
/Goeleven.Windows8/bin/Debug/AppX/Goeleven.Windows8.exe
/Goeleven.Windows8/bin/Debug/AppX/Goeleven.Windows8.pdb
/Goeleven.Windows8/bin/Debug/AppX/GroupDetailPage.xaml
/Goeleven.Windows8/bin/Debug/AppX/Images/8909a2d7205fecc4481ddbbe30abfd2e.jpeg
/Goeleven.Windows8/bin/Debug/AppX/Images/9925a436e7c82740344087c39ed1a078.jpeg
/Goeleven.Windows8/bin/Debug/AppX/Images/Badge.png
/Goeleven.Windows8/bin/Debug/AppX/Images/Logo.png
/Goeleven.Windows8/bin/Debug/AppX/Images/SmallLogo.png
/Goeleven.Windows8/bin/Debug/AppX/Images/f62ebe822f6b351538e68cb2bbadefe9.jpeg
/Goeleven.Windows8/bin/Debug/AppX/Images/girl.jpg
/Goeleven.Windows8/bin/Debug/AppX/Images/logowide.jpg
/Goeleven.Windows8/bin/Debug/AppX/ItemDetailPage.xaml
/Goeleven.Windows8/bin/Debug/AppX/Pages/Inbox.xaml
/Goeleven.Windows8/bin/Debug/AppX/Resources/LightStyles.xaml
/Goeleven.Windows8/bin/Debug/AppX/microsoft.system.package.metadata/S-1-5-21-1668033142-2736636881-3491671566-1001.pckgdep
/Goeleven.Windows8/bin/Debug/AppX/resources.pri
/Goeleven.Windows8/bin/Debug/AppX/vs.appxrecipe
/Goeleven.Windows8/bin/Debug/AppxManifest.xml
/Goeleven.Windows8/bin/Debug/Assets/DarkGray.png
/Goeleven.Windows8/bin/Debug/Assets/LightGray.png
/Goeleven.Windows8/bin/Debug/Assets/Logo.png
/Goeleven.Windows8/bin/Debug/Assets/MediumGray.png
/Goeleven.Windows8/bin/Debug/Assets/SmallLogo.png
/Goeleven.Windows8/bin/Debug/Assets/SplashScreen.png
/Goeleven.Windows8/bin/Debug/Assets/StoreLogo.png
/Goeleven.Windows8/bin/Debug/Common/StandardStyles.xaml
/Goeleven.Windows8/bin/Debug/Dashboard.xaml
/Goeleven.Windows8/bin/Debug/Goeleven.Windows8.build.appxrecipe
/Goeleven.Windows8/bin/Debug/Goeleven.Windows8.exe
/Goeleven.Windows8/bin/Debug/Goeleven.Windows8.pdb
/Goeleven.Windows8/bin/Debug/GroupDetailPage.xaml
/Goeleven.Windows8/bin/Debug/GroupedItemsPage.xaml
/Goeleven.Windows8/bin/Debug/Images/8909a2d7205fecc4481ddbbe30abfd2e.jpeg
/Goeleven.Windows8/bin/Debug/Images/9925a436e7c82740344087c39ed1a078.jpeg
/Goeleven.Windows8/bin/Debug/Images/Badge.png
/Goeleven.Windows8/bin/Debug/Images/Logo.png
/Goeleven.Windows8/bin/Debug/Images/SmallLogo.png
/Goeleven.Windows8/bin/Debug/Images/f62ebe822f6b351538e68cb2bbadefe9.jpeg
/Goeleven.Windows8/bin/Debug/Images/girl.jpg
/Goeleven.Windows8/bin/Debug/Images/logowide.jpg
/Goeleven.Windows8/bin/Debug/ItemDetailPage.xaml
/Goeleven.Windows8/bin/Debug/Pages/Inbox.xaml
/Goeleven.Windows8/bin/Debug/Resources/LightStyles.xaml
/Goeleven.Windows8/bin/Debug/resources.pri
/Goeleven.Windows8/obj/Debug/App.g.cs
/Goeleven.Windows8/obj/Debug/App.g.i.cs
/Goeleven.Windows8/obj/Debug/App.xaml
/Goeleven.Windows8/obj/Debug/Common/StandardStyles.xaml
/Goeleven.Windows8/obj/Debug/Dashboard.g.cs
/Goeleven.Windows8/obj/Debug/Dashboard.g.i.cs
/Goeleven.Windows8/obj/Debug/Dashboard.xaml
/Goeleven.Windows8/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Goeleven.Windows8/obj/Debug/Goeleven.Windows8.csproj.FileListAbsolute.txt
/Goeleven.Windows8/obj/Debug/Goeleven.Windows8.exe
/Goeleven.Windows8/obj/Debug/Goeleven.Windows8.pdb
/Goeleven.Windows8/obj/Debug/GroupDetailPage.g.cs
/Goeleven.Windows8/obj/Debug/GroupDetailPage.g.i.cs
/Goeleven.Windows8/obj/Debug/GroupDetailPage.xaml
/Goeleven.Windows8/obj/Debug/ItemDetailPage.g.cs
/Goeleven.Windows8/obj/Debug/ItemDetailPage.g.i.cs
/Goeleven.Windows8/obj/Debug/ItemDetailPage.xaml
/Goeleven.Windows8/obj/Debug/LanguageQualifiers.txt
/Goeleven.Windows8/obj/Debug/LanguageQualifiers.txt.intermediate
/Goeleven.Windows8/obj/Debug/Pages/Inbox.g.cs
/Goeleven.Windows8/obj/Debug/Pages/Inbox.g.i.cs
/Goeleven.Windows8/obj/Debug/Pages/Inbox.xaml
/Goeleven.Windows8/obj/Debug/ProjectArchitectures.txt
/Goeleven.Windows8/obj/Debug/Resources/LightStyles.xaml
/Goeleven.Windows8/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Goeleven.Windows8/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Goeleven.Windows8/obj/Debug/XamlTypeInfo.g.cs
/Goeleven.Windows8/obj/Debug/intermediatexaml/Goeleven.Windows8.exe
/Goeleven.Windows8/obj/Debug/intermediatexaml/Goeleven.Windows8.pdb
/Goeleven.Windows8/obj/Debug/layout.resfiles
/Goeleven.Windows8/obj/Debug/layout.resfiles.intermediate
/Goeleven.Windows8/obj/Debug/pri.resfiles
/Goeleven.Windows8/obj/Debug/pri.resfiles.intermediate
/Goeleven.Windows8/obj/Debug/priconfig.xml
/Goeleven.Windows8/obj/Debug/priconfig.xml.intermediate
/Goeleven.Windows8/obj/Debug/resources.resfiles
/Goeleven.Windows8/obj/Debug/resources.resfiles.intermediate